body{
  font-family:arial;
}

.todo-grid,.todo-input-grid{
  display:grid;
  grid-template-columns:200px 150px 100px;
  column-gap:10px;
  row-gap:10px;
  font-size:15px;
  text-align:left;
  align-items:center;
}

.todo-input-grid{
    margin-bottom:10px;
}

.name-input,.dueDate-input{
  padding:7px;
  font-size:15px;
}
.add-button{
  background-color:rgb(9, 112, 9);
  color:white;
  cursor:pointer;
  border:none;
  font-size:15px;
  padding:10px;
}

.delete-button{
  background-color:darkred;
  color:white;
  cursor:pointer;
  border:none;
  padding:10px;
  font-size:15px;
}
